{% if page.categories.first == "programming" %}
  {% if site.categories.programming.size > 1 %}
    <h2 id="main-post-category-posts-title">더보기</h2>
  {% endif %}
  {% for category_post in site.categories.programming limit:5 %}
    {% if category_post.url != page.url %}
      <div class="main-post-category-posts">
        <a href="{{ category_post.url }}" class="link">{{ category_post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}

{% elsif page.categories.first == "server" %}
  {% if site.categories.server.size > 1 %}
    <h2 id="main-post-category-posts-title">더보기</h2>
  {% endif %}
  {% for category_post in site.categories.server limit:5 %}
    {% if category_post.url != page.url %}
      <div class="main-post-category-posts">
        <a href="{{ category_post.url }}" class="link">{{ category_post.title }}</a>
       </div>
    {% endif %}
  {% endfor %}

{% elsif page.categories.first == "database" %}
  {% if site.categories.database.size > 1 %}
    <h2 id="main-post-category-posts-title">더보기</h2>
  {% endif %}
  {% for category_post in site.categories.database limit:5 %}
    {% if category_post.url != page.url %}
      <div class="main-post-category-posts">
        <a href="{{ category_post.url }}" class="link">{{ category_post.title }}</a>
       </div>
    {% endif %}
  {% endfor %}
{% else %}
  <h2 id="main-post-category-posts-title">더보기</h2>
  {% for related_post in site.related_posts limit:5 %}
    {% if related_post.url != page.url %}
      <div class="main-post-category-posts">
        <a href="{{ related_post.url }}" class="link">{{ related_post.title }}</a>
       </div>
    {% endif %}
  {% endfor %}
{% endif %}