<footer>
  <section>
    <div class="footer-box">
      <a href="/rss">
        <div class="footer-box footer-link">
          <span>RSS</span>
          <i class="fa fa-rss fa-2x" aria-hidden="true"></i>
        </div>
      </a>

      <a href="https://github.com/{{ site.github.username }}">
        <div class="footer-box footer-link">
          <span>Github</span>
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </div>
      </a>
    </div>

    <div class="clear-fix"></div>

    <a href="#top">
      <div class="footer-box">
        <div class="footer-top">
          <span>맨 위로 이동</span>
        </div>
      </div>
    </a>
  </section>
</footer>