<footer>
  <section>
    <div class="footer-box">
      <a class="footer-link" href="/rss">
        <span>RSS</span>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </a>

      <a class="footer-link" href="https://github.com/{{ site.github.username }}">
        <span>Github</span>
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>

    <a href="#">
      <div class="footer-box">
        <div class="footer-top">
          <span>맨 위로 이동</span>
        </div>
      </div>
    </a>
  </section>
</footer>