<div id="sidebar">
  <div id="sidebar-profile">
    <a href="/"><img src="{{ site.asset_url }}/images/profile.png" id="sidebar-profile-img"></a>
    <p id="sidebar-profile-text">
      {{ site.title }}
    </p>
  </div>
  <div id="sidebar-icon">
    <a href="/">
      <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
    <a href="/rss">
      <i class="fa fa-rss fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/{{ site.github.username }}">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <!--
    <a href="/about">
      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    </a>
    -->
  </div>
</div>