body {
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

#main-header {
  height: 200px;
  text-align: center;
  background-color: #FC8978;
}

#main-title {
  padding: 55px 0;
}

#main-nav {
}

#main-nav > ul {
  padding: 0;
  list-style-type: none;
}

#main-nav > ul > li {
  display: inline;
  padding: 20px 50px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 20px;
}