@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #444;
}

p {
  line-height: 30px;
}

i {
  color: #ffffff;
}

a, a:link, a:visited, a:active, a:hover {
  color: #db8c88;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

.title {
  margin: 0;
  font-size: 40px;
}

/* header */
header {
  text-align: center;
  height: 120px;
  background-color: #db8c88;
  border-bottom: 1px solid #f1f1f1;
  color: #ffffff;
}

header > section {
  margin: auto;
}

header > section > a {
  color: #ffffff;
  width: 40px;
  height: 40px;
  margin-top: 42px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

header > section > a:hover {
  background-color: #444;
}

header > section > a, header > section > div {
  float: left;
}

header > section > div {
  height: 120px;
  width: calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
}

.header-title {
  width: 100%;
  height: 100%;
  display: table;
}

.header-title > div {
  display: table-cell;
  vertical-align: middle;
}

.header-title > div > span {
  font-size: 14px;
}

/* main */
main {
  padding: 30px 0;
  background-color: #ffffff;
}

main > section {
  margin: auto;
}

.main-title {
  height: 100px;
  line-height: 100px;
  background-color: #eaeaea;
  text-align: center;
}

.main-title > span {
  font-size: 30px;
  font-weight: bold;
}

.main-post {
  margin-top: 20px;
  border-bottom: 2px solid #eaeaea;
}

.main-post > .title {
  margin-bottom: 10px;
}

.main-post > h2 > a {
  color: #db8c88;
}

.main-post > span {
  color: #aaa;
}

.main-post > p {
  margin: 20px 0 0 0;
}

.main-post > blockquote {
  margin: 14px 0;
  padding: 14px;
  border-left: 4px solid #db8c88;
}

.main-post > blockquote > p {
  margin: 0;
}

.main-post > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.main-post-tag {
  list-style: none;
  margin: 15px 0 15px 0;
  padding: 0;
}

.main-post-tag > li {
  display: inline-block;
  padding: 5px 20px;
  background-color: #eaeaea;
  margin-top: 5px;
}

/* footer */
footer {
  background-color: #444;
  color: #ffffff;
  padding: 80px 0;
}

footer > section {
  margin: auto;
}

.footer-box {
  display: block;
  background-color: #333;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.footer-box:hover {
  background-color: #2b2b2b;
}

.footer-link {
  padding: 0 5%;
  width: 50%;
  float: left;
}

.footer-link > i {
  float: right;
  margin-top: 15px;
}

.footer-top {
  margin-top: 30px;
  text-align: center;
}

.footer-link > span, .footer-top > span {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* responsive */
@media all and (max-width: 880px){
  header > section, main > section, footer > section {
    width: 90%;
  }
}

@media all and (min-width: 880px){
  header > section, main > section, footer > section {
    width: 800px;
  }
}

@media all and (max-width: 660px) {
  .title {
    font-size: 24px;
  }

  .main-title > span {
    font-size: 24px;
  }

  .footer-link > span, .footer-top > span {
    font-size: 18px;
  }
}
